manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/nextfow_singularity_template'

    /* Description of project */
    description = 'This is a starting point for pipeline development.'

    /* Main pipeline script */
    mainScript = 'nextflow_example.nf'
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.39/trimmomatic-0.39.jar'
    ADAPTERS = "containers/data/adapters/NexteraPE-PE.fa"
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = true

    /* Enable auto-mounting of host paths (requires user bind control feature enabled) */
    autoMounts = true
}

params {
    /* These are the default parameter values for the nextflow pipeline */

    /* Location of adapter sequences */
    adapters = "containers/data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "containers/data/adapters/nextera.tab"

    /* Number of threads */
    threads = 2

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36
    
    /* Display help message */
    help = false
}

process {
    withName: QualityControl {
        maxForks = 8
        cpus = 2
        /* container = 'shub://lakinsm/my_singularity_container' */
        container = 'containers/example_singularity.simg'
    }
}

